openapi: 3.0.1
info:
  title: Pagar.me Core Anticipations Invoices API
  description: The Pagar.me Core API (v5) is a REST API for online payments in Brazil. It processes orders and charges via credit card, PIX, and boleto; manages customers, addresses, cards, and tokens; supports recurring billing through plans, subscriptions, and invoices; and provides marketplace capabilities via recipients, split, transfers, and anticipations, with webhook event notifications. Authentication uses HTTP Basic auth with the account secret key as the username and an empty password.
  termsOfService: https://pagar.me/termos-de-uso/
  contact:
    name: Pagar.me Support
    url: https://docs.pagar.me
  version: '5'
servers:
- url: https://api.pagar.me/core/v5
  description: Pagar.me Core API v5 production
security:
- basicAuth: []
tags:
- name: Invoices
  description: Invoices generated by subscription cycles.
paths:
  /invoices:
    get:
      operationId: listInvoices
      tags:
      - Invoices
      summary: List invoices
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: A list of invoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceList'
  /invoices/{invoice_id}:
    get:
      operationId: getInvoice
      tags:
      - Invoices
      summary: Get invoice
      parameters:
      - $ref: '#/components/parameters/InvoiceId'
      responses:
        '200':
          description: The invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
    delete:
      operationId: cancelInvoice
      tags:
      - Invoices
      summary: Cancel invoice
      parameters:
      - $ref: '#/components/parameters/InvoiceId'
      responses:
        '200':
          description: The cancelled invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
components:
  schemas:
    Address:
      type: object
      properties:
        line_1:
          type: string
        line_2:
          type: string
        zip_code:
          type: string
        city:
          type: string
        state:
          type: string
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code.
    Paging:
      type: object
      properties:
        total:
          type: integer
        page:
          type: integer
        size:
          type: integer
    Customer:
      allOf:
      - $ref: '#/components/schemas/CreateCustomerRequest'
      - type: object
        properties:
          id:
            type: string
          created_at:
            type: string
            format: date-time
    Phone:
      type: object
      properties:
        country_code:
          type: string
        area_code:
          type: string
        number:
          type: string
    Charge:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        amount:
          type: integer
        paid_amount:
          type: integer
        status:
          type: string
          enum:
          - pending
          - paid
          - canceled
          - processing
          - failed
          - overpaid
          - underpaid
        currency:
          type: string
        payment_method:
          type: string
        order_id:
          type: string
        customer:
          $ref: '#/components/schemas/Customer'
        last_transaction:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
    InvoiceList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Invoice'
        paging:
          $ref: '#/components/schemas/Paging'
    Invoice:
      type: object
      properties:
        id:
          type: string
        amount:
          type: integer
        status:
          type: string
          enum:
          - pending
          - paid
          - canceled
          - scheduled
          - failed
        payment_method:
          type: string
        subscription_id:
          type: string
        customer:
          $ref: '#/components/schemas/Customer'
        charge:
          $ref: '#/components/schemas/Charge'
        due_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
    CreateCustomerRequest:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        document:
          type: string
          description: CPF or CNPJ.
        document_type:
          type: string
          enum:
          - CPF
          - CNPJ
          - PASSPORT
        type:
          type: string
          enum:
          - individual
          - company
        phones:
          type: object
          properties:
            home_phone:
              $ref: '#/components/schemas/Phone'
            mobile_phone:
              $ref: '#/components/schemas/Phone'
        address:
          $ref: '#/components/schemas/Address'
  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    Size:
      name: size
      in: query
      schema:
        type: integer
        default: 10
    InvoiceId:
      name: invoice_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth with the account secret key as the username and an empty password.
